<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dept/default_layout}">

<div layout:fragment="content">
	<h1>부서목록 API</h1>
	
	<table border="1" class="table table-striped-columns" id="dept_table">
		<thead>
			<tr>
				<th>부서번호</th>
				<th>부서명</th>
				<th>위치</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
	
	<div>
		<form action="./insert" method="post" id="frmForm">
		<ul>
			<li>
				<label>부서번호: 
				<input type="number" id="deptNo" name="deptNo" min="0" max="100" step="10" required
				       onkeydown="return false"></label>
			</li>
			<li>
				<label>부서명: <input type="text" id="dName" name="dName" maxlength="20" required></label>
			</li>
			<li>
				<label>위치: <input type="text" id="loc" name="loc" maxlength="20" required></label>
			</li>
		</ul>
		
		<button type="submit" id="btnNew" class="btn btn-primary"><i class="bi bi-clipboard-check-fill"></i> 신규등록</button>
		<button type="submit" id="btnUpdate" class="btn btn-warning">수정저장</button>
		<button type="submit" id="btnDelete" class="btn btn-danger">삭제</button>
		<button type="button" onclick="location.href='/api/depts/index'" class="btn btn-light">초기화</button>
		</form>
	</div>
</div>

<div layout:fragment="script">
	<script>
		function getList() {
			$.get('/api/depts/', {}, function() {
				console.log('로딩중');
			})
			.done(function(data) {
				console.log(data);
				
				let result = '';
				
				for (dept of data.deptList) {
					result += `
						<tr>
							<td>${dept.deptNo}</td>
							<td><a href="#" class="details" data-deptNo="${dept.deptNo}">${dept.dname}</a></td>
							<td>${dept.loc}</td>
						</tr>
					`;
				}
				
				$('#dept_table > tbody').empty().append(result);
			});
		}
		
		function getDetail(deptno) {
			$.get('/api/depts/'+deptno, {}, function() {
				console.log('로딩중');
			})
			.done(function(data) {
				$('#deptNo').val(data.deptNo);
				$('#dName').val(data.dname);
				$('#loc').val(data.loc);
			});
		}
		
		$(document).ready(function() {
			getList();
		})
		.on('click', '.details', function() {
			const deptno = $(this).attr('data-deptNo');
			console.log(deptno);
			getDetail(deptno);
		});
	
		$('#frmForm').on('submit', function(e){
			const btn = event.submitter.id;
			console.log(btn);
			e.preventDefault();
			
			const method = {
				'btnNew':'POST',
				'btnUpdate':'PUT',
				'btnDelete':'DELETE',
			};
			
			let deptno = '';
			if (method[btn] === 'DELETE')
				deptno = $('#deptNo').val();
			
			$.ajax({
				type: method[btn],
				url: '/dept/api/' + deptno,
				data: $('#frmForm').serialize(),
				success: function(result) {
					console.log(result);
					getList();
					$('#deptNo').val('');
					$('#dName').val('');
					$('#loc').val('');
				},
				error: function(request, status, error) {
					console.log(error);
				}
			});
		});
	</script>
</div>
</html>
